aiofiles==23.2.1
annotated-types==0.5.0
bcrypt==4.0.1
dnspython==2.4.2
email-validator==2.0.0.post2
html5tagger==1.3.0
httptools==0.6.0
idna==3.4
multidict==6.0.4
peewee==3.16.3
pydantic==2.3.0
pydantic_core==2.6.3
PyJWT==2.8.0
sanic==23.6.0
sanic-routing==23.6.0
tracerite==1.1.0
typing_extensions==4.8.0
ujson==5.8.0
uvloop==0.17.0
websockets==11.0.3
